/* ------------------------------------
 * Typecho Default Theme
 *
 * @author  Typecho Team
 * @link  http: //typecho.org/
 * @update  2013-10-28
 * --------------------------------- */

/* ------------------
 * Gobal style
 * --------------- */
body {
  background-color: #FFFFFF;
  color: #444;
  font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;*/
 /* font-family: "Open Sans",Arial,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif*/
  font-size: 87.5%;
}

a {
  color: #428BCA;
  text-decoration: none;
}
a:hover, a:active {
  color: #2A6496;
  /*text-decoration: underline;*/
}
pre, code {
  padding: 2px 4px;
  background: #F3F3F0;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
  font-size: .92857em;
}
code { color: #B94A48; }
pre {
  padding: 8px;
  overflow: auto;
  max-height: 400px;
}
pre code {
  padding: 0;
  color: #444;
}

blockquote {
  margin: 1em 1.5em;
  padding-left: 1.5em;
  border-left: 4px solid #F3F3F0;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
    margin: 5px;
    line-height: 1.2;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  padding: 5px;
  border: 1px solid #E9E9E9;
  width: 100%;

  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.tl{
  text-align: left;
}

.tr{
  text-align: right;
}

.tc{
  text-align: center;
}

.p0{
  padding: 0!important;
}

.m0{
  margin: 0!important;
}

/* Special link style */
.post-meta a,
.post-content a,
.widget a,
.aside a,
.comment-content a {
  /*border-bottom: 1px solid #EEE;*/
  color: #006CD8;
}

.post-meta a:hover,
.post-content a:hover,
.widget a:hover,
.aside a:hover,
.comment-content a {
  /*border-bottom-color: transparent;*/
  text-decoration: underline;
}

.browsehappy {
  padding: 8px 0;
  background: #FBE3E4;
  color: #8A1F11;
  text-align: center;
}
.browsehappy a {
  color: #8A1F11;
  text-decoration: underline;
  font-weight: bold;
}

/* ------------------
 * Header
 * --------------- */

#header {
    background: none repeat scroll 0 0 #363636;
    height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #080808;
    position: fixed;
    z-index: 10000;
}

#logo {
    color: #FFFFFF;
    font-size: 35px;
    height: 50px;
    line-height: 50px;
}

.description {
   color: #E9E9E9;
}

/* Navigation menu */
#nav-menu {
  padding: 0;
  background: none;
}
#nav-menu {
  float: left;
  line-height: 50px;
}

#nav-menu a{
  color: #ddd;
  display: block;
  float: left;
  margin: 0 5px;
  padding: 0 20px;
  font-size: 1.1em;
}

#nav-menu a:hover,#nav-menu a:focus{
  color: #FFFFFF;
}

#nav-menu .current{
  color: #FFFFFF;
  background: #080808;
}

/* Search */
#search {
  position: relative;
  line-height: 50px;
}
#search input {
  padding-right: 30px;
}
#search button {
  position: absolute;
  right: 4px;
  top: 14px;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent url(img/icon-search.png) no-repeat center center;
  direction: ltr; /* fix RTL language */
  text-indent: -9999em;
}

/* ------------------
 * Body
 * --------------- */

#body{
  padding-top: 60px;
}

/* ------------------
 * aside
 * --------------- */
#aside{

}


.tags a{
  padding: 0 5px;
  line-height: 25px;
}


.social{
    margin-top: 10px;
    border-top: 1px solid #E6EAED;
    padding-top: 30px;
    top:40px;
    z-index: 100;
}

.social-weixin{
  width: 100%;
  text-align: center;
}

.social-weixin img{
  width: 150px;
}

.social p{
    color: #666666;
    font-size: 12px;
    text-align: center;
}

/* ------------------
 * Main
 * --------------- */

 #main{
 }


.post {
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  padding: 15px 10px 20px 10px;
}

.post-thumb {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #EEEEEE;
}


.post-title {
  margin: 5px 0;
  font-size: 1.3em;
}

.post-title a{
  color: #333333;
}

.post-title a:hover{
  color: #666666;
}

.post-meta {
  margin: 0px;
  padding: 0;
  color: #999;
  font-size: .92857em;
}

.post-meta a{
  color: #999999;
}

.post-meta li {
  display: inline-block;
}

.post-content {
  line-height: 1.5;
}

.post-tags a{
  font-size: 0.85em;
  padding: 0 5px;
}

.post .tags {
  clear: both;
}

.post-near {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  color: #999;
}
.post-near li {
  margin: 10px 0;
}

.archive-title {
  margin: 1em 0 -1em;
  padding-top: 20px;
  color: #999;
  font-size: 1em;
}
.more {
  text-align: center;
}
.more a {
  border: none;
}
.protected .text {
  width: 50%;
}

/* Page nav */

.page-navigator {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}
.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}
.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.page-navigator a:hover {
  background: #EEE;
  text-decoration: none;
}

.page-navigator .current a {
  color: #444;
  background: #EEE;
}

/* ------------------
 * Comment list
 * --------------- */
#comments {
  padding-top: 15px;
}
.comment-list, .comment-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list li {
  padding: 14px;
  margin-top: 10px;
  border: 1px solid #EEE;
}
.comment-list li.comment-level-odd {
  background: #F6F6F3;
}
.comment-list li.comment-level-even {
  background: #FFF;
}
.comment-list li.comment-by-author {
  background: #FFF9E8;
}
.comment-list li .comment-reply {
  text-align: right;
  font-size: .92857em;
}
.comment-meta a {
  color: #999;
  font-size: .92857em;
}
.comment-author {
  display: block;
  margin-bottom: 3px;
  color: #444;
}
.comment-author .avatar {
  float: left;
  margin-right: 10px;
}
.comment-author cite {
  font-weight: bold;
  font-style: normal;
}

/* Comment reply */
.comment-list .respond {
  margin-top: 15px;
  border-top: 1px solid #EEE;
}
.respond .cancel-comment-reply {
  float: right;
  margin-top: 15px;
  font-size: .92857em;
}
#comment-form label {
  display: block;
  margin-bottom: .5em;
  font-weight: bold;
}
#comment-form .required:after {
  content: " *";
  color: #C00;
}

/* ------------------
 * secondary
 * --------------- */
#secondary {
  padding-top: 0px;
  word-wrap: break-word;
}
.widget {
  /*background:#EAEAEA;*/
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}
.widget-title {
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E6EAED;
}
.widget-list {
  list-style: none;
  padding: 0;
}
.widget-list li {
  margin: 5px 0;
  line-height: 1.5;
  padding: 5px 0;
  border-bottom: 1px dashed #DDDDDD;
}
.widget-list a:hover {
}

.sidebar-comment li{
   padding: 10px 0;
}

.sidebar-comment .comment-content{
  background: #DBE4FF;
  padding: 20px 10px;
}


/* ------------------
 * Footer 
 * --------------- */
#footer {
  padding: 2em 0;
  line-height: 1.5;
  text-align: center;
  color: #999;
}


/* -----------------
 * Error page
 * -------------- */
.error-page {
  margin-top: 100px;
  margin-bottom: 100px;
}


/* -----------------
 * Content format
 *--------------- */
.post-content, .comment-content {
  line-height: 1.5;
  word-wrap: break-word;
}
.post-content h2, .comment-content h2 {
  font-size: 1.28571em;
}
.post-content img, .comment-content img,
.post-content video, .comment-content video {
  max-width: 100%;
}
.post-content a img,
.comment-content a img {
  background: #FFF;
  position: relative;
  bottom: -4px;  /* hidden img parent link border  */
}
.post-content hr, .comment-content hr {
  margin: 2em auto;
  width: 100px;
  border: 1px solid #E9E9E9;
  border-width: 2px 0 0 0;
}


/* -----------------
 * Misc
 *--------------- */
.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
img.alignleft {
  margin: 0 15px 0 0;
}
img.alignright {
  margin: 0 0 0 15px;
}


/* -----------------
 * Responsive
 *--------------- */
@media (max-width: 767px) {
  body {
    font-size: 81.25%;
  }
  #nav-menu a {
    float: none;
    display: inline-block;
    margin: 0 -2px;
  }
}

@media (max-width: 768px) {
  #header,
  .post-title,
  .post-meta {
    text-align: center;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .container {
    /*max-width: 952px;*/
  }
}


/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/
.hidden {
  display: none !important;
  visibility: hidden; }

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
.sr-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
* Extends the .sr-only class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
* Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden; }